.loginsignup{
    width: 100%;
   height: 80vh;
   background:linear-gradient(180deg,#e1e1ff,#e1fffd22 60%) ;   
   padding-top: 100px; 
}
.loginsignup-container{
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}
.loginsignup-container h1{
  margin: 20px 0px;  
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.loginsignup-fields input{
    height: 40px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.loginsignup-container button{
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
  }
  
.loginsignup-container button{
    /* width: 580px;
    height: 40px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer; */
    width: 580px;
    height: 40px;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 24px;
    color: white;
  
}
.loginsignup-container button:hover {
    transform: translateY(3px);
    box-shadow: none;
  }
  
  .loginsignup-container button :active {
    opacity: 0.5;
  }
.loginsignup-login{
 margin-top: 20px;
 color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}